.GridImport {
    height: 100%;
    position: relative;

    .Gridlist {
        .Gridinput {
            width: calc(100% - 40px);
            color: white;
            margin: 20px;

            button {
                padding: 5px 10px;
                font-size: 14px;
                margin-left: 20px;
            }
        }

        .ImportBtn {
            width: 100%;
            text-align: center;
            margin: 20px 0;
        }

        .TreeList {
            margin: 20px;

            h2 {
                color: white;
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            ul {

                li {
                    position: relative;
                    margin: 10px 0;
                    padding-left: 20px;
                    cursor: default;

                    .Alert {
                        position: absolute;
                        top: 5px;
                        left: 70px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: white;
                        z-index: 10;

                        p {
                            background-color: #474747;
                            width: 90px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0.5px;
                            font-size: 14px;
                            cursor: pointer;
                        }

                        .ative {
                            color: $theme-color;
                        }

                        p:nth-child(1) {
                            border-radius: 10px 10px 0 0;
                        }

                        p:nth-last-child(1) {
                            border-radius: 0 0 10px 10px;
                        }
                    }

                    ul {
                        display: none;

                        li:after {
                            top: -9px;
                            left: 6px;
                            height: calc(100% + 16px);
                        }

                        li:nth-last-child(1):after {
                            height: 18px;
                        }

                        li:before {
                            width: 15px;
                            left: 6px;
                        }

                        li {
                            padding-left: 22px;
                        }
                    }
                }

                li:after {
                    position: absolute;
                    top: 8px;
                    bottom: 0;
                    left: 0;
                    width: 1px;
                    height: calc(100% + 10px);
                    content: '';
                    background-color: rgb(255, 255, 255);
                }

                li:nth-last-child(1):after {
                    height: 0;
                }

                li:before {
                    position: absolute;
                    top: 8px;
                    left: 0px;
                    width: 20px;
                    height: 1px;
                    margin: auto;
                    content: '';
                    background-color: rgb(255, 255, 255);
                }
            }

        }
    }

    .GridManipulation {
        .TextWbPosition {
            margin: 10px 40px;
            color: white;
            position: relative;

            .TextWb {

                margin: 10px 0;
                padding-left: 80px;
            }
        }

        .TextWb {
            margin: 10px 40px;
            color: white;
            display: flex;
            align-items: center;
            position: relative;

            span {
                display: inline-block;
                flex-shrink: 0;
            }

            .ant-slider {
                width: 200px;

                .ant-slider-track {
                    background-color: #2a7efa;
                }

                .ant-slider-handle {
                    border: solid 2px #c3c3c3;
                }
            }

            select {
                margin: 0 5px;
            }

            input[type="checkbox"] {
                margin: 0 0 0 5px;
            }

            .ChromePicker {
                position: absolute;
                top: -250px;
                z-index: 10;
            }

            button {
                background-color: rgba(255, 255, 255, 0);
                border: 1px solid #ec9313;
                font-size: 14px;
                color: #ec9313;
                padding: 5px 10px;
                border-radius: 8px;
                outline-style: none;
                cursor: pointer;
            }
        }

        .GridBtn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;

        }
    }

    .GridAnnotationBtn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;

        button {
            padding: 5px 10px;
            font-size: 14px;
            margin: 0 10px;
        }
    }
}

.TreeList>ul {
    overflow: auto;
    height: calc(100vh - 230px);
    @include scrollbar(5px);
}
.ant-checkbox-wrapper span{
    color: white;
}